*{
    font-family: "proxima-nova", sans-serif;
}
.html{
    margin: 0px;
    padding:0px;
}

.navbar{
    background-color: #424242;
    color: white;
    padding: 5px;
    display: grid;
    grid-template: "links search"   1fr / 1fr 5fr;
}

#nav-links{
    grid-area: links;
    display: flex;
    align-items: center;
}
#nav-links>a{
    margin-left: 15px;
}
#searchForm{
    grid-area: search;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
#searchForm>input{
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}
#searchForm>button{
    background-color: #424242;
    color: #caaf16;
    border-color: #caaf16;
    border-radius: 5px;
    border-width: 1px;
}

.nav-text{
    display: inline;
    font-size: x-large;
}

.nav-link-active{
    text-decoration: none;
    color: white;
}

.nav-link-grayed{
    text-decoration: none;
    color: gray;
}

#mainContent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#loginForm{
    display:flex;
    flex-flow: column;
    align-content: center;
    width: 40%;
    height:100%;
}
#loginForm>input{
    height: 1.5em;
}
#loginForm>button{
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    background-color: rgb(68, 68, 255);
    color: white;
    width: 80px;
    height: 30px;
}
#loginForm>h2{
    text-align: center;
}

.backToResults{
    display:flex;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(94, 94, 94);
    align-items: center;
}
.backToResults>a{
    text-decoration: none;
    color: #ffd900;
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.moviePoster{
    padding:5px;
    flex-grow: 1;
}



#movieInfo{
    display: grid;
    grid-template: "cover title"          1fr 
                  "cover releaseDate"     1fr
                  "cover genres-actors"   1fr
                  "cover description"     100% / 1fr 3fr ;
    width: 100%;
}

#coverArt{
    grid-area: cover;
}
#coverArtImage{
    width: 100%;
}
#releaseDate{
    grid-area: releaseDate;
}
#releaseDate>*{
    margin:0;
    padding:0 0 5px 5px;
}
#movieTitle{
    grid-area: title;
}
#movieTitle>*{
    margin:0;
    padding:0 0 5px 5px;
}
#genres-actors{
    grid-area: genres-actors;
    display: flex;
    padding:0 0 5px 5px;
}
#movieDescription{
    grid-area: description;
    padding:0 0 5px 5px;
}
#genres{
    margin-right: 10px;
}

#leaveComment{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-self: flex-start;
}
#leaveComment>button{
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    background-color: rgb(68, 68, 255);
    color: white;
    width: 80px;
    height: 30px;
}